/* ---------------------------------- RESET --------------------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    font-family: inherit;
    color: inherit;
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
    font-family: inherit;
}

/* -------------------------------- VARIABLES ------------------------------- */

:root {
    --gridWrapperSize: 700px;
    --gridItemCount: 1;
    --gridBorder: 1px;
    --gridItemSize: calc(var(--gridWrapperSize) / var(--gridItemCount));
    --darkBlack: #2a2a2a;
    --darkGray: #6a6a6a;
    --lightGray: #8a8a8a;
    --veryLightGray: #9a9a9a;
}

/* --------------------------------- GENERAL -------------------------------- */

html,
body {
    height: 100%;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Figtree', sans-serif;
    padding: 2.5rem;
    background-color: #F9F9F9;
    background-image: radial-gradient(circle, transparent 35%, #FCFCFC);
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: 1000px;
    min-height: 800px;
}

.wrapper {
    display: flex;
    gap: 0 5rem;
    flex: 2 0 auto;
    align-items: center;
}

html.eyedropper-on * {
    cursor: none;
}

html.eyedropper-on .menu * {
    pointer-events: none;
}

/* ---------------------------------- MENU ---------------------------------- */

.menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: start;
    justify-content: center;
    gap: 1.2rem 1rem;
    padding: 2rem 3rem;

    animation: roll-up 1.1s .1s both;


    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 1;
}

.menu__wrapper {
    animation: fade-in .5s .2s both;
    height: var(--gridWrapperSize);
    width: 200px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .3);
    border-radius: 2.1rem;
}

.menu__heading {
    text-transform: uppercase;
    font-weight: 700;
    animation: roll-up-title 1s .1s both;
    color: var(--darkBlack);
    font-size: 3.2rem;
    display: block;
    padding-bottom: .8rem;
    margin: 0 0 .8rem;
}

.menu__heading::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 110%;
    height: .2rem;
    background-color: var(--darkGray);
    transform: translateX(-50%);
}

/* --------------------------------- BUTTONS -------------------------------- */

.menu__item {
    border-radius: .7rem;
    width: 100%;
}

.shadow {
    box-shadow: 1px 1px 1px 0 rgba(0, 0, 0, .3);
}

.btn {
    padding: .7rem 1.4rem;
    background-color: var(--darkGray);
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
}

.btn.disabled {
    pointer-events: none;
}

.btn.btn--small {
    flex: 2;
    transition: .1s;
}

.btn.btn--save {
    margin-top: .3rem;
}

.label__mode {
    display: flex;
    margin: -.5rem 0 .7rem;
    font-size: 1.3rem;
    width: 100%;
    gap: 1rem;
}

.label__mode span {
    display: block;
    color: #8a8a8a;
    text-align: center;
    flex-grow: 4;
    width: 0;
    transition: .1s;
}

.label__mode span.switched-on {
    color: var(--darkBlack);
    font-weight: 600;
    flex-grow: 5;
}

.label-title {
    width: 100%;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.label__mode-title {
    margin-bottom: -.5rem;
    margin-top: .8rem;
}

.slider__wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -.8rem;
}

.slider__wrapper p {
    display: block;
    font-size: 1.3rem;
    letter-spacing: .5px;
    margin-bottom: .1rem;
}

.slider__label {
    padding-left: .6rem;
    flex: 1 0 0;
    width: 0;
    text-align: right;
    color: var(--darkBlack);
}

.slider {
    width: 75%;
    accent-color: var(--darkBlack);
}

.label__resolution-title {
    margin: 1.6rem 0 .6rem;
    width: 100%;
}

.resolution__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.resolution-input__wrapper {
    width: 85%;
    margin: .2rem auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .1rem;
    font-size: 1.3rem;
}

.resolution-input__wrapper>* {
    flex-grow: 3;
    width: 0;
}

.resolution-display {
    flex-grow: 5;
    text-align: left;
    padding-left: .5rem;
    color: var(--darkGray);
}

.resolution__width-input {
    padding: .3rem .5rem;
    text-align: right;
    border-radius: .4rem;
    border: 1px solid var(--darkBlack);
}

.resolution__width-input:disabled {
    color: var(--darkGray);
    border-color: var(--veryLightGray);
}

.resolution-mode__wrapper {
    font-size: 1.2rem;
    display: flex;
    justify-items: center;
    gap: .8rem;
    margin: .3rem auto .7rem;
}

.resolution-mode__wrapper * {
    cursor: pointer;
}

.resolution-mode__wrapper label {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.resolution__radio {
    accent-color: var(--darkBlack);
}

.btn:hover {
    background-color: var(--darkBlack);
}

.btn.switched-on {
    background-color: var(--darkBlack);
    flex-grow: 3;
}

.color__wrapper {
    height: 6rem;
    overflow: hidden;
    position: relative;
    color: white;
}

.color__wrapper.dark {
    color: var(--darkBlack);
}

.color__input {
    border: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.color__input::-moz-color-swatch {
    border: none;
}

.color__input::-webkit-color-swatch-wrapper {
    padding: 0;
    border-radius: 0;
}

.color__input::-webkit-color-swatch {
    border: none;
}

.color__input:focus {
    outline: none;
}

.color__hex {
    top: 0;
    left: 0;
}

.color__hex__hash {
    position: absolute;
    top: .5rem;
    left: .7rem;
    font-size: 1.6rem;
}

.color__hex,
.color__picker {
    position: absolute;
    opacity: .6;
    background-color: transparent;
    cursor: pointer;

}

.text-input {
    background-color: transparent;
    color: inherit;
    border: none;
    letter-spacing: 0.7px;
    cursor: pointer;
}

.text-input:focus {
    outline: none;
}

.color__hex__input {
    padding: .5rem 0 0 1.75rem;
    z-index: 1;
}

.color__hex__input:focus {
    outline: none;
    opacity: 1;
}

.color__hex__input:focus:hover {
    cursor: text;
}

.color__hex:hover,
.color__picker:hover {
    opacity: .9;
}

.color__picker {
    bottom: 0;
    right: 0;
    padding: 0 .7rem .5rem 0;
}

.eyedropper-cursor {
    z-index: 1;
    color: white;
    position: fixed;
    top: -1.6rem;
    left: 0;
    font-size: 1.6rem;
    -webkit-text-stroke: 1px var(--darkBlack);
    pointer-events: none;
}

/* ---------------------------------- GRID ---------------------------------- */

.grid__wrapper {
    width: calc(var(--gridWrapperSize) - var(--gridBorder));
    height: calc(var(--gridWrapperSize) - var(--gridBorder));
    display: grid;
    grid-template: var(--gridItemSize) / repeat(var(--gridItemCount), var(--gridItemSize));
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 1px 2px 3px 0 rgba(0, 0, 0, .3);
    background-color: #fff;
    animation: fade-in .5s .2s both;
}

.grid__item {
    width: var(--gridItemSize);
    height: var(--gridItemSize);
    background-color: #fff;
    border: 0 solid rgb(210, 210, 210, 0);
    border-width: 0 var(--gridBorder) var(--gridBorder) 0;
    transition: all .05s, border .4s;
}

.grid__wrapper.grid--on>.grid__item {
    border-color: rgba(210, 210, 210, 1)
}

.grid__item.active {
    background-color: var(--darkBlack);
}

/* --------------------------------- FOOTER --------------------------------- */

.footer {
    display: flex;
    align-items: flex-end;
    font-size: 2rem;
    flex: 1;
    color: rgba(0, 0, 0, .3);
    margin-top: 1.6rem;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    gap: 0 1rem;
}

.footer__name {
    transition: .1s;
}

.footer__name:hover {
    text-decoration: underline;
    color: rgba(0, 0, 0, .4);
}

.footer__link {
    margin-top: .1rem;
    font-size: 2.1rem;
    transition: .25s;
    transform: scale(1);
}

.footer__link:hover {
    margin-left: 0;
    transform: scale(1.15);
    color: rgba(0, 0, 0, .4);
}

/* ------------------------------- ANIMATIONS ------------------------------- */

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(2.5rem);
    }

    to {
        opacity: 1;
        transform: translateY(0rem);
    }
}

@keyframes roll-up {
    0% {
        opacity: 0;
        transform: translateY(7.5rem);
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0rem);
    }
}

@keyframes roll-up-title {
    0% {
        opacity: 0;
        transform: translateY(4rem);
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0rem);
    }
}